.uk-section
  - for i in 1..3
    .uk-section-xsmall
      - unless mic_order_any?(@mic, i) #分割一番目に他のバンドがなければ
        = link_to("/order/#{@mic.id}/#{i}",:method => 'POST', data: { confirm: "#{i}番目でよろしいですか？" },class: 'link-button' ) do
          ="#{i}番目を希望する"
      - else
        .link-button-pressed
          = "#{i}番目：" + ordered_band_name(@mic, i)