.flex-center
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!
    =f.hidden_field :authority_id, value: Authority.find_by(name: "未承認").id
    %legend.uk-legend.form-title.flex-center 新規登録
    .field
      = f.label :氏名, class: "field-label"
      .uk-inline
        %span.uk-form-icon.uk-form-icon-flip{"uk-icon" => "icon: user"}
        = f.text_field :name, autofocus: true, class: "uk-input field-input"
    .field
      = f.label :メール, class: "field-label"
      .uk-inline
        %span.uk-form-icon.uk-form-icon-flip{"uk-icon" => "icon: mail"}
        = f.email_field :email, autocomplete: "email", class: "uk-input field-input", placeholder: "Email"
    .field
      = f.label :性別, class: "field-label"
      .uk-inline
        = f.select :gender, [["男性", "male"], ["女性", "female"]], {prompt: "選択する"}, {class: "uk-select field-input"}
    .field
      = f.label :パスワード, class: "field-label"
      - if @minimum_password_length
        /%em.warning
        /  (最低#{@minimum_password_length}文字)
      .uk-inline
        %span.uk-form-icon.uk-form-icon-flip{"uk-icon" => "icon: lock"}
        = f.password_field :password, autocomplete: "off", class: "uk-input field-input"
    .field
      = f.label :パスワード確認, class: "field-label"
      .uk-inline
        %span.uk-form-icon.uk-form-icon-flip{"uk-icon" => "icon: lock"}
        = f.password_field :password_confirmation, autocomplete: "off", class: "uk-input field-input"
    .field
      = f.label :入会年度, class: "field-label"
      / .field-input.uk-inline
      .uk-inline
        %span.uk-form-icon.uk-form-icon-flip{"uk-icon" => "icon: calendar"}
        = f.text_field :year, class: "uk-input field-input"
    .field
      = f.label :大学, class: "field-label"
      / .field-input.uk-inline
      .uk-inline
        %span.uk-form-icon.uk-form-icon-flip{"uk-icon" => "icon: world"}
        = f.text_field :uni, class: "uk-input field-input"
    .field
      =f.label :セクション, class: "field-label"
      =f.collection_select(:section_id, Section.all, :id, :name, {prompt: true}, { class: 'uk-select field-input' })
    .actions.flex-center
      = f.submit "登録", class: "uk-button uk-button-primary form-button"
    = render "devise/shared/links"
