.uk-container.uk-width-1-1
	.uk-width-2-3@s.uk-margin-auto
		%legend.uk-legend 部屋・会議室利用一覧
		%ul.uk-margin-top{'uk-accordion': 'multiple: true'}
			= form_for @room_usage, html: {class: "uk-width-1-1"} do |f|
				%li
				%a.uk-accordion-title.uk-padding-small.uk-background-muted 利用申請
				.uk-accordion-content.uk-width-1-1
					.uk-text-meta.uk-width-1-1 ①バンドを選択してください
					= f.select :band_id, {}, {}, { class: 'uk-select'}
					-if @current_user
						- @current_user.bands.each do |bd|
							%option {#bd.name}
						- @current_user.sections.each do |sc|
							%option {#sc.name}
					.uk-text-meta.uk-width-1-1 ①利用する部屋を選択してください
					.uk-width-1-1.uk-flex.uk-flex-wrap.uk-child-width-1-3
						- Room.practice_rooms.each do |rm|
							.radio.uk-child-width-expand
								= f.radio_button :room_id, rm.name, {id: rm.name, style: 'display:none;'}

								%label.uk-button.uk-button-default.uk-padding-remove-horizontal{for: "#{rm.name}",style: 'font-size:0.85em'} #{rm.name}

					.uk-text-meta.uk-width-1-1  ②日時を選択してください
					.uk-width-1-1.uk-flex.uk-flex-wrap.uk-child-width-1-3
						- (Date.today..(Date.today + 5)).each do |date|
							.radio
								= f.radio_button :date, date.strftime('%m/%d'), {id: date, style: 'display:none;'}
								%label.uk-button.uk-button-default.uk-width-1-1.uk-padding-remove-horizontal{for: "#{date}",style: 'font-size:0.85em'}
									#{date.strftime("%m/%d")}
									= "(本日)" if date == Date.today
					.uk-text-meta.uk-width-1-1  ③時限を選択してください
					.uk-width-1-1.uk-flex.uk-flex-wrap.uk-child-width-1-3
						- Period.all.each do |pr|
							.radio
								= f.check_box :period_id, {id: pr.name, style: 'display:none;'}
								%label.uk-button.uk-button-default.uk-width-1-1{for: "#{pr.name}",style: 'font-size:0.85em'} #{pr.name}
					.uk-margin-small-top

						= f.submit "申請", class: "uk-button uk-button-danger"
		%table.uk-table.uk-table-striped.uk-table-small{style: 'font-size:0.85em'}

			%thead
				%tr
					%th 申請者
					%th バンド/セクション
					%th 利用部屋
					%th 利用日
					%th 時限
					%th 編集
			%tbody
				- unless RoomUsage.any?
					%tr
						%td{colspan:6} データがありません
				- RoomUsage.all.each do |ru|
					%tr
						%td #{ru.user.name}
						%td #{ru.band.name}#{ru.section.name}
						%td #{ru.room.name}
						%td #{ru.date.strftime('%Y/%M/%D')}
						%td #{ru.period.name}
						%td
							-if ru.user == @current_user
								%a.uk-icon{'uk-icon':'close'}
