.flex-center
  = form_for @temporal_band do |f|
    - if @temporal_band.errors.any?
      #error_explanation
        %h2= "#{@temporal_band.errors.full_messages.count}件のエラーが発生たため、バンドは登録されませんでした："
        %ul
          - @temporal_band.errors.full_messages.each do |message|
            %li= message
    %legend.uk-legend.form-title.flex-center 企画バンド登録
    .field
      = f.label :企画名, class: "field-label"
      .uk-inline
        %span.uk-form-icon.uk-form-icon-flip{"uk-icon" => "icon: tag"}
        = f.text_field :name, autofocus: true, class: "uk-input field-input"
    .field
      = f.label :企画責任者, class: "field-label"
      .uk-inline
        %span.uk-form-icon.uk-form-icon-flip{"uk-icon" => "icon: user"}
        %input.uk-input.field-input#master-search-field{placeholder: "バンマス名を入力してください", type: "text", name: "keyword"}
        #master-search-result
      #master-box
    .field
      %label.field-label メンバーを追加
      .uk-inline.uk-position-relative
        %span.uk-form-icon.uk-form-icon-flip{"uk-icon" => "icon: search"}
        %input.uk-input.field-input#member-search-field{placeholder: "追加したいユーザー名を入力してください", type: "text", name: "keyword"}
        #member-search-result
    .field
      %label.field-label バンドメンバー
      .uk-inline
        .uk-section.uk-section-muted.uk-preserve-color.uk-section-small
          .uk-container
            %ul.uk-list.band-member-list
    .actions.flex-center
      = f.submit "登録", class: "uk-button uk-button-primary form-button"
