.flex-center.flex-column
  = form_for resource, as: resource_name, url: session_path(resource_name), class: 'form'  do |f|
    %legend.uk-legend.form-title ログイン
    .field
      = f.label :email, class: "field-label"
      .uk-inline
        %span.uk-form-icon.uk-form-icon-flip{"uk-icon" => "icon: mail"}
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "uk-input field-input"
    .field
      = f.label :password, class: "field-label"
      .uk-inline
        %span.uk-form-icon.uk-form-icon-flip{"uk-icon" => "icon: lock"}
        = f.password_field :password, autocomplete: "off", class: "uk-input field-input"
    - if devise_mapping.rememberable?
      .field
        .uk-inline
          = f.check_box :remember_me, class: "uk-checkbox"   
          %span{style:'font-size:1.5vh'} 次回からログインを省略
    .actions.flex-center
      = f.submit "ログイン",class: "uk-button uk-button-primary form-button"

    = render "devise/shared/links"
